// $selector-intro: ':host';
$selector-intro: 'narr-intro';
// ================================
#{$selector-intro} {
  display: block;
  position: relative;
  min-height: 360px;
}

:host {
  canvas.rain-bg {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .intro-padder {
    position: relative;
    padding: 175px 40px 250px 40px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.46);
    h1 {
      margin-top: 40px;
      margin-bottom: 50px;
      color: #fff;
      font-size: 42px;
      font-weight: 600;
    }
    a {
      background: #32AE8C;
      padding: 11px 20px;
      border: 1px solid #2CA382;
      border-radius: 3px;
      line-height: 36px;
      color: #fff;
      font-size: 18px;
      text-shadow: 0 0 0;
    }
    a:hover {
      opacity: 0.9;
    }
  }
}

@media only screen and (max-width: 1280px) {
  :host {
    .intro-padder {
      h1 {
        font-size: 35px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  :host {
    .intro-padder {
      padding: 125px 40px 200px 40px;
      h1 {
        font-size: 29px;
      }
    }
  }
}
