// $selector-intro: ':host';
$selector-intro: narr-intro;
$btn-color: #32AE8C;
// ================================
// ================================
#{$selector-intro} {
  display: block;
  background: rgba(0, 144, 255, 0.3);
  position: relative;
  min-height: 400px;
  height: 100%;
}

@mixin a-normal() {
  background: lighten($btn-color, 2%);
  border: 1px solid darken($btn-color, 4%);
  box-shadow: 3px 3px 1px darken($btn-color, 8%);
  color: #fff;
}

:host {
  canvas.rain-bg {
    display: none; // In Mac, Canvas Ani has bad performance on a wide width window
    width: 100%;
    height: 100%;
  }
  .intro-center {
    position: absolute;
    top: 50%;
    margin: -88px 0 0 0;
    width: 100%;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.46);
    h1 {
      margin-bottom: 50px;
      color: #fff;
      font-size: 42px;
      font-weight: 600;
    }
    a:hover {
      background: darken($btn-color, 2%);
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 1px 1px;
      color: lighten($btn-color, 18%);
    }
    a {
      @include a-normal();
      padding: 10px 20px;
      border-radius: 3px;
      line-height: 36px;
      font-size: 18px;
      font-weight: 800;
      letter-spacing: 1px;
    }
  }
  .intro-scroll-down {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 5%;
    text-align: center;
    animation: intro-scroll-down 0.8s linear 0s infinite alternate;
  }
}

// ================================
// ================================
.touch {
  :host {
    .intro-center {
      // for touch devices, to disable hover after click
      a:hover {
        @include a-normal();
      }
    }
  }
}

// .ie9 {
//   :host {}
// }
// ================================
// ================================
@keyframes intro-scroll-down {
  0% {
    bottom: 5%;
    opacity: 1;
  }
  100% {
    bottom: 7%;
    opacity: 0.2;
  }
}

// ================================
// ================================
@media only screen and (max-width: 1600px) {
  :host {
    .intro-center {
      h1 {
        font-size: 38px;
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  :host {
    .intro-center {
      h1 {
        font-size: 34px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  :host {
    canvas.rain-bg {
      display: block;
    }
    .intro-center {
      h1 {
        font-size: 30px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  :host {
    .intro-center {
      h1 {
        font-size: 26px;
      }
    }
  }
}

// @media only screen and (max-device-width: 800px) {
//   :host {}
// }
