// $selector-host: ':host';
$selector-host: ':host narr-about';
$host-padding: 6em 8em;
$host-font-size: 13px;
// ================================
$about-section-h1-margin-bottom: 1.5em;
$about-section-summary-margin-bottom: 2em;
$about-skills-group-margin-bottom: 4em;
// ================================
// ================================
#{$selector-host} {
  display: block;
  background: #f5eedb;
  padding: $host-padding;
  font-size: $host-font-size;
}

:host {
  .about {
    overflow: hidden; // to hide when this children start a scale event
    // border: 1px dashed rgba(0, 0, 0, 0.2);
  }
  .about-section {
    float: left;
    width: 50%;
    h1 {
      margin-bottom: $about-section-h1-margin-bottom;
      color: #109f9a;
      font-size: 3.3em;
      font-weight: 600;
    }
    .summary {
      display: block;
      margin-bottom: $about-section-summary-margin-bottom;
      line-height: 2;
      color: #535353;
      font-size: 1.8em;
    }
  }
  .about-me {
    .content {
      opacity: 0;
      &.ani {
        animation: about-zoom-out-blur 2s linear forwards;
      }
    }
    p {
      line-height: 2.5;
      color: #636363;
      font-size: 1.4em;
    }
  }
  .about-skills {
    padding-left: 100px;
    box-sizing: border-box;
    .group {
      margin-bottom: $about-skills-group-margin-bottom;
      opacity: 0;
      &:last-child {
        margin-bottom: 0;
      }
      &.ani {
        animation: about-zoom-in 2s linear forwards;
      }
    }
    .summary {
      margin-bottom: 0.8em;
    }
  }
  $skill-img-size: 50px;
  .about-skills-skill {
    display: inline-block;
    margin-right: 2.5em;
    margin-bottom: 1.5em;
    width: $skill-img-size;
    height: $skill-img-size;
  }
  .about-skill-bg-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 99999px;
    &:hover {
      .rotate-base {
        transform: rotateX(90deg) translateY(-$skill-img-size);
      }
      .rotate-hidden {
        transform: rotateX(0deg) translateY(-$skill-img-size);
      }
    }
    span {
      transform-origin: 50% 0;
      transition: transform 0.4s;
      transform-style: preserve-3d;
    }
    .rotate-hidden {
      // display: none;
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      height: 100%;
      transform: rotateX(-90deg);
    }
  }
}

// ================================
// ================================
@keyframes about-zoom-out-blur {
  0% {
    text-shadow: 0 0 40px grey;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}

// for mobile, remove the text-shadow ani
// text-shadow performance issue
// http://stackoverflow.com/questions/32948596/is-csss-efficiency-with-text-shadow-as-bad-as-box-shadow
@keyframes about-zoom-out {
  0% {
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}

@keyframes about-zoom-in {
  0% {
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

// ================================
// ================================
.touch {
  :host {
    .about-me {
      .content {
        &.ani {
          animation: about-zoom-out 2s linear forwards;
        }
      }
    }
  }
}

.ie9 {
  :host {
    .about-me {
      .content {
        opacity: 1;
      }
    }
    .about-skills {
      .group {
        opacity: 1;
      }
    }
    .about-skill-bg-wrapper {
      .rotate-hidden {
        display: none;
      }
    }
  }
}

// ================================
// ================================
@media only screen and (max-width: 1600px) {
  #{$selector-host} {
    padding: nth($host-padding, 1) nth($host-padding, 1) nth($host-padding, 1) //
    nth($host-padding, 2);
    font-size: $host-font-size - 1;
  }
}

@media only screen and (max-width: 1280px) {
  #{$selector-host} {
    padding: $host-padding;
  }
  :host {
    .about-section {
      width: 100%;
      h1 {
        margin-bottom: $about-section-h1-margin-bottom - 0.5;
      }
      .summary {
        margin-bottom: $about-section-summary-margin-bottom - 0.5;
      }
    }
    .about-me {
      margin-bottom: 8em;
    }
    .about-skills {
      padding-left: 0;
      .group {
        margin-bottom: $about-skills-group-margin-bottom - 1;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  #{$selector-host} {
    padding: nth($host-padding, 1);
  }
}

@media only screen and (max-width: 480px) {
  #{$selector-host} {
    padding: nth($host-padding, 1) nth($host-padding, 1) - 2;
    font-size: $host-font-size - 3;
  }
}
