<div class="about-section">
  <a class="about-thumbnail" href="#" title="Decorator">
    <img [src]="thumbnail" alt="Decorator">
  </a>
  <h1 class="about-heading">World Food Program</h1>
  <p class="about-description">
    Fighting hunger worldwide. The United Nations World Food Programme is
    the world's largest humanitarian agency on the front lines against hunger.
  </p>
  <div class="about-twitter" narrLoadTwidget>
    <a class="twitter-timeline" href="https://twitter.com/_uloga" data-widget-id="554053174446010368"
      data-tweet-limit="5" data-border-color="#eee" data-chrome="transparent" data-dnt="true">
      Tweets by @_uloga</a>
  </div>
</div>
