$nav-height: 35px;
// ========================
:host {
  position: fixed;
  width: 100%;
  height: 0; // for events of below elements
  z-index: 100;
  .nav-trigger {
    display: none;
    background: rgba(33, 34, 40, 0.9);
    float: right;
    margin: 20px 20px 0 0;
    padding: 4px 12px;
    line-height: $nav-height + 1;
    color: #3BCAA3;
    font-size: 27px;
    &:hover {
      color: #fff;
    }
    &.sidebar-active {
      color: #fff;
      &:focus {
        color: #fff;
      }
    }
    // http://stackoverflow.com/questions/17233804/how-to-prevent-sticky-hover-effects-for-buttons-on-touch-devices
    &:focus {
      // to reslove mobile hover issue
      color: #3BCAA3;
    }
  }
}

// .ie9 {
//   :host {
//     .nav-trigger {
//       // height: $nav-height - 3;
//     }
//   }
// }
@media only screen and (max-width: 800px) {
  :host {
    .nav-trigger {
      display: block;
    }
  }
}
