body,
h1,
h2,
h3,
h4,
th,
td,
input,
select,
textarea,
button {
  line-height: normal;
  font-family: Tahoma;
  font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a:hover {
  text-decoration: none;
}

.loading {
  color: blue;
}

@import '../../temp/icon/sprite/ics-skill-language.scss';
@import '../../temp/icon/sprite/ics-skill-framework&library.scss';
@import '../../temp/icon/sprite/ics-skill-etc.scss';
@import './ics-skill.scss';
