$selector-host: ':host';
// $selector-host: ':host narr-main'; // for SCSS's @import
$host-margin-left: 250px; // sidebar width
$host-font-size: 13px;
$host-margin-left-sidebar-open: $host-margin-left - 50;
// ================================
//
// ================================
// @mixin m() {}
// ================================
// ================================
#{$selector-host} {
  display: block;
  position: absolute; // to make body's scrollHeight the same value of this scrollHeight
  margin-left: $host-margin-left;
  height: 100%;
  font-size: $host-font-size;
  // scrolling in elements except body shows a bad performance especially in Edge
  // overflow: auto; // for a scroll event
  // border: 1px dashed rgba(0, 0, 0, 0.2);
}

// ================================
// ================================
// @keyframes kf {}
// ================================
// ================================
.touch {
  #{$selector-host} {
    position: static; // position absolute leads to a strange overflow in mobile
    overflow: auto; // for a scroll event
  }
}

// .ie9 {}
// ================================
// ================================
// @media only screen and (max-width: 1600px) {}
@media only screen and (max-width: 1280px) {
  #{$selector-host} {
    margin-left: $host-margin-left-sidebar-open;
  }
}

@media only screen and (max-width: 800px) {
  #{$selector-host} {
    margin-left: 0;
    backface-visibility: hidden;
    perspective: 1px;
    &.slide {
      transition: transform 0.3s;
    }
    &.sidebar-open {
      transform: translateX($host-margin-left-sidebar-open);
    }
  }
}

// @media only screen and (max-width: 480px) {}
// @media only screen and (max-device-width: 480px) {}
// ================================
// ================================
@import './intro/intro.component';
@import './about/about.component';
@import './timeline/timeline.component';
@import './contact/contact.component';
