$selector-host: ':host';
// $selector-host: 'narr-main';
// ================================
#{$selector-host} {
  display: block;
  margin-left: 320px;
}

@media (max-width: 1280px) {
  #{$selector-host} {
    margin-left: 300px;
  }
}

@media (max-width: 1024px) {
  #{$selector-host} {
    margin-left: 280px;
  }
}

@media (max-width: 800px) {
  #{$selector-host} {
    margin-left: 0;
    width: 100%;
    &.sidebar-ani {
      transition: margin-left 0.3s ease;
    }
    &.sidebar-active {
      margin-left: 200px;
    }
  }
}

@import './intro/intro.component';
@import './portfolio/portfolio.component';
@import './about/about.component';
@import './contact/contact.component';
@import './footer/footer.component';
