$selector-host: ':host';
// $selector-host: 'narr-main';
// ================================
#{$selector-host} {
  display: block;
  background: url(~asset/img/bg.jpg) no-repeat center center/cover fixed;
  margin-left: 320px;
}

@media only screen and (max-width: 1280px) {
  #{$selector-host} {
    margin-left: 300px;
  }
}

@media only screen and (max-width: 1024px) {
  #{$selector-host} {
    margin-left: 280px;
  }
}

@media only screen and (max-width: 800px) {
  #{$selector-host} {
    margin-left: 0;
    // transform: translateX(0);
    width: 100%;
    backface-visibility: hidden;
    perspective: 1;
    &.sidebar-ani {
      // transition: margin-left 0.3s ease;
      transition: transform 0.3s ease;
    }
    &.sidebar-active {
      // margin-left: 200px;
      transform: translateX(200px);
    }
  }
}

@media only screen and (max-width: 600px) {
  #{$selector-host} {
    background: url(~asset/img/bg.jpg) -1200px -120px;
  }
}

@import './intro/intro.component';
@import './portfolio/portfolio.component';
@import './about/about.component';
@import './contact/contact.component';
@import './footer/footer.component';
