<div class="sidebar-about box-sizing">
  <img class="sidebar-thumbnail" [src]="thumbnail" alt="World Food Program">
  <div class="sidebar-name">
    <h1 class="sidebar-title">Wfp.org</h1>
    <p class="sidebar-content">Fighting Hunger</p>
  </div>
</div>

<ul class="sidebar-filter-left">
  <li class="sidebar-active"><a href="#intro">Intro</a></li>
  <li><a href="#portfolio">Portfolio</a></li>
  <li><a href="#about">About Me</a></li>
  <li><a href="#contact">Contact</a></li>
</ul>

<ul class="sidebar-list-social">
  <li>
    <a href="#" title="Github">
      <i class="fa fa-github-square" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a href="#" title="LinkedIn">
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a href="#" title="Twitter">
      <i class="fa fa-twitter-square" aria-hidden="true"></i>
    </a>
  </li>
</ul>

<p class="sidebar-made-with box-sizing">
  Made With: <a href="https://angular.io/">Angular2</a>
</p>
