<div class="sidebar-about box-sizing">
  <img class="sidebar-thumbnail" [src]="thumbnail" alt="World Food Program">
  <div class="sidebar-name">
    <h1 class="sidebar-title">Wfp.org</h1>
    <p class="sidebar-content">Fighting Hunger</p>
  </div>
</div>

<ul class="sidebar-filter-left">
  <li [class.sidebar-active]="'intro' === sidebarActive">
    <a href="#intro" (click)=onClick($event)>Intro</a>
  </li>
  <li [class.sidebar-active]="'portfolio' === sidebarActive">
    <a href="#portfolio" (click)=onClick($event)>Portfolio</a>
  </li>
  <li [class.sidebar-active]="'about' === sidebarActive">
    <a href="#about" (click)=onClick($event)>About Me</a>
  </li>
  <li [class.sidebar-active]="'contact' === sidebarActive">
    <a href="#contact" (click)=onClick($event)>Contact</a>
  </li>
</ul>

<ul class="sidebar-list-social">
  <li>
    <a href="#" title="Github">
      <i class="fa fa-github-square" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a href="#" title="LinkedIn">
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a href="#" title="Twitter">
      <i class="fa fa-twitter-square" aria-hidden="true"></i>
    </a>
  </li>
</ul>

<p class="sidebar-made-with box-sizing">
  Made With: <a href="https://angular.io/">Angular2</a>
</p>
