<section class="contact">
  <h1>Contact</h1>
  <div class="contact-ways clearfix">
    <a [href]="'mailto:' + email" class="mail">{{email}}</a>
    <ul>
      <li *ngFor="let val of links;">
        <span class="rotate scale"></span>
        <span class="rotate"></span>
        <a [href]="val.href" target="_blank">
          <span class="blind">{{val.name}}</span>
          <i [class]="val.class" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>

  <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()" [class.dirty]="
    formDirty">
    <label for="contact-form-subject">Subject</label>
    <input type="text" id="contact-form-subject" [disabled]="submitted" formControlName="subject">
    <label for="contact-form-msg">Message</label>
    <textarea id="contact-form-msg" [disabled]="submitted" formControlName="msg"></textarea>
    <p>
      <span class="info" [class.error]="infoError" [innerHtml]="INFO_STRING"></span>
      <button type="submit" [disabled]="submitted" [ngClass]="{'submit-start': submitStart,
        'submit-end': submitEnd}">SEND</button>
    </p>
  </form>
</section>

<a href="#intro" class="go-to-top" (click)="onClick($event)">
  <span class="blind">Intro</span>
  <i class="fa fa-arrow-up" aria-hidden="true"></i>
</a>
