<h1 class="contact-heading">Contact</h1>
<div class="contact-section">
  <form>
    <div class="contact-grouped">
      <div class="contact-w-50">
        <label>Your Name<span class="contact-require">*</span></label>
        <input type="text" placeholder="Username">
      </div>
      <div class="contact-w-50">
        <label>Email address<span class="contact-require">*</span></label>
        <input type="text" placeholder="Email">
      </div>
    </div>

    <label>Phone number<span class="contact-require">*</span></label>
    <input type="text" placeholder="Phone number">

    <label>Question<span class="contact-require">*</span></label>
    <textarea rows="8" placeholder="what's on your mind?"></textarea>

    <p>
      <button type="submit" class="contact-button">Submit</button>
    </p>
  </form>
</div>
