@charset "utf-8";
html,
body {
  width: 100%;
  height: 100%
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0
}

fieldset,
img {
  border: 0 none
}

dl,
ul,
ol,
menu,
li {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none
}

input,
select,
textarea,
button {
  vertical-align: middle
}

input::-ms-clear {
  display: none
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer
}

body {
  background: #fff;
  direction: ltr
}

body,
h1,
h2,
h3,
h4,
th,
td,
input,
select,
textarea,
button {
  font-size: 12px;
  line-height: 1.5;
  // font-family: Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;
  font-family: Helvetica, AppleSDGothicNeo, sans-serif;
  color: #333
}

a {
  color: #262626;
  text-decoration: none
}

a:hover {
  color: #4559e9;
  text-decoration: underline
}

a:active {
  background-color: transparent
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal
}

header,
main,
aside,
article,
footer {
  display: block
}

// browsers < IE 9
.browsehappy {
  background: #90D7EF;
  margin: 0;
  padding: 4px;
  color: #174C32;
  font-size: 18px;
}

.link-browsehappy {
  color: #544807;
}

.blind {
  position: absolute;
  font-size: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@import './styles/base.scss';
