// $selector-intro: ':host';
$selector-intro: 'narr-testimonial';
// ================================
#{$selector-intro} {
  display: block;
  background: transparent;
  float: left;
}

:host {
  .testimonial-who {
    margin: 2px 0;
    width: 100%;
    .testimonial-img {
      display: block;
      margin: 0 auto;
      width: 116px;
      height: 116px;
      border: 2px solid rgba(255, 255, 255, 0.6);
      border-radius: 122px;
      box-sizing: border-box;
      overflow: hidden;
    }
    img {
      width: 122px;
    }
  }
  .testimonial-feedback {
    background: #eee;
    float: left;
    margin-top: 20px;
    padding: 20px 15px;
    p {
      float: left;
      margin: 2px 0;
      width: 100%;
      text-align: center;
      color: #000;
      font-size: 18px;
    }
    h2 {
      float: left;
      margin-top: 15px;
      width: 100%;
      text-align: center;
      font-size: 1.5em;
    }
    a {
      color: #14906D;
      text-decoration: underline;
    }
  }
}

@media (max-width: 1280px) {
  :host {
    .testimonial-feedback {
      p {
        font-size: 16px;
      }
    }
  }
}
